.message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;

    &__isMe {
        justify-content: flex-end;
        .message__bubble {
            background-color: #fff;
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
            border: 1px solid #ececec;
            border-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 0;
        }
        .message__text {
            color: #000;
        }
        .message__avatar {
            order: 4;
            margin-right: 0;
            margin-left: 15px;
        }
        .message__date {
            text-align: right;
        }
    }

    &__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 13px;
        align-items: flex-end;
        margin-bottom: 21px;
        img {
            width: inherit;
        }
    }
    &__bubble {
        background-color: rgb(35, 161, 211);
        padding: 15px;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        max-width: 400px;
        margin-bottom: 5px;
    }
    &__text {
        color: #fff;
        margin: 0;
        line-height: 20px;
    }
    &__date {
        font-size: 12px;
        opacity: 0.4;
    }
}
.message.message__isTyping {
    .message__avatar {
        margin-bottom: 1px;
    }
}

.icon__read {
    margin-bottom: 23px;
    margin-right: 8px;
    font-size: 18px;
    font-weight: 700;
    opacity: 0.5;
    &--check {
        color: rgb(35, 161, 211);
        opacity: 1;
    }
    &.dialogs__icon{
        margin-bottom: 0;
    }
}

.message__image {
    .message__attachment-img {
        width: 150px;
        height: 150px;
    }
}

.message__attachment {
    display: flex;
    &-img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        border-radius: 5px;
        overflow: hidden;
        img {
            width: inherit;
            height: inherit;
        }
    }
}

.typing-indicator {
    background-color: rgb(33, 175, 240);
    will-change: transform;
    width: auto;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    padding: 17px;
    display: table;
    margin: 0 auto;
    position: relative;
    animation: 2s bulge infinite ease-out;
    opacity: 0.6;

    span {
        height: 15px;
        width: 15px;
        float: left;
        margin: 0 1px;
        background-color: #fff;
        display: block;
        border-radius: 50%;
        opacity: 0.4;
        @for $i from 1 through 3 {
            &:nth-of-type(#{$i}) {
                animation: 1s blink infinite ($i * 0.3333s);
            }
        }
    }
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}

@keyframes bulge {
    50% {
        transform: scale(1.05);
    }
}
