.button {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 14px;
    &.btn-large {
        height: 60px;
        min-width: 70%;
        border-radius: 10px;
    }
}
