.chat__window {
    height: calc(100% - 100px);

    &-empty {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.chat__message-wrapper {
    height: 100%;
    padding: 20px;
    overflow: auto;
}
