.dialogs__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.1s;
    &.active,
    &:hover {
        background-color: #f2f7ff;
    }
    &-select {
        background-color: #33aad9;
        color: #fff;
        &:hover {
            background-color: #33aaff;
        }
    }
    &-online {
        position: relative;
        .dialogs__item-avatar::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: rgb(26, 236, 26);
            border: 3px solid #fff;
            border-radius: 50%;
            bottom: 0;
            right: 0;
        }
    }
    .dialogs__item-avatar {
        margin-right: 12px;
        width: 60px;
        height: 60px;
        position: relative;
        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }
    &-anon {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(34, 193, 195);
        background: linear-gradient(
            128deg,
            rgba(34, 193, 195, 1) 0%,
            rgba(45, 253, 205, 0.40940126050420167) 100%
        );

        border-radius: 50%;
        span {
            font-size: 24px;
            font-weight: 700;
            color: #fff;
        }
    }
    &-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        &-top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 6px;
            margin-top: 3px;
        }
        &-name {
            font-weight: 700;
            font-size: 16px;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 200px;
            white-space: nowrap;
        }
        &-data {
            opacity: 0.7;
            font-size: 12px;
        }
        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-text {
            opacity: 0.7;
            transition: all 0.4s;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 220px;
            white-space: nowrap;
            &:hover {
                opacity: 1;
            }
        }
        &-num {
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: rgb(248, 112, 112);
            color: #fff;
            font-weight: 600;
            span {
                font-size: 12px;
            }
        }
        &-icon {
            font-size: 18px;
            color: skyblue;
        }
    }
}
